/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 20.4.2016 12:32:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 20.4.2016 12:32:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 20.4.2016 12:32:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 20.4.2016 12:32:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 20.4.2016 12:32:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 20.4.2016 12:32:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[AuctioneerId] [int] NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Auction]    Script Date: 20.4.2016 12:32:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Auction](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AuctioneerId] [int] NOT NULL,
	[ActiveFrom] [datetime] NOT NULL,
	[ActiveTo] [datetime] NOT NULL,
	[DisplayFrom] [datetime] NOT NULL,
	[DisplayTo] [datetime] NOT NULL,
	[SatisfyOverLineFrom] [datetime] NOT NULL,
	[SatisfyOverLineTo] [datetime] NOT NULL,
	[SatisfyBelowLineFrom] [datetime] NOT NULL,
	[SatisfyBelowLineTo] [datetime] NOT NULL,
	[BuyUrl] [nvarchar](200) NOT NULL,
	[MaxTicketCountPerUser] [int] NOT NULL,
	[BelowLineNotificationInterval] [int] NOT NULL,
	[DisplayInWeb] [bit] NOT NULL,
	[EnableBidDecrease] [bit] NOT NULL,
	[Created] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](128) NOT NULL,
	[Modified] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.Auction] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Auctioneer]    Script Date: 20.4.2016 12:32:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Auctioneer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Created] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](128) NOT NULL,
	[Modified] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.Auctioneer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AuctionLocalized]    Script Date: 20.4.2016 12:32:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuctionLocalized](
	[AuctionId] [int] NOT NULL,
	[LanguageId] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Created] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](128) NOT NULL,
	[Modified] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AuctionLocalized] PRIMARY KEY CLUSTERED 
(
	[AuctionId] ASC,
	[LanguageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Bid]    Script Date: 20.4.2016 12:32:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bid](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AuctionId] [int] NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[Amount] [money] NOT NULL,
	[TicketsCount] [int] NOT NULL,
	[AccessCode] [nvarchar](20) NULL,
	[State] [int] NOT NULL,
	[Created] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](128) NOT NULL,
	[Modified] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.Bid] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BidRange]    Script Date: 20.4.2016 12:32:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BidRange](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AuctionId] [int] NOT NULL,
	[AmountFrom] [money] NOT NULL,
	[AmountTo] [money] NOT NULL,
	[Step] [money] NOT NULL,
	[Created] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](128) NOT NULL,
	[Modified] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.BidRange] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Deposit]    Script Date: 20.4.2016 12:32:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deposit](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BidId] [int] NOT NULL,
	[Amount] [money] NOT NULL,
	[Created] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](128) NOT NULL,
	[Modified] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.Deposit] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DepositRange]    Script Date: 20.4.2016 12:32:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DepositRange](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AuctionId] [int] NOT NULL,
	[AmountFrom] [money] NOT NULL,
	[AmountTo] [money] NOT NULL,
	[Deposit] [money] NOT NULL,
	[Created] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](128) NOT NULL,
	[Modified] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.DepositRange] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Language]    Script Date: 20.4.2016 12:32:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Language](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](2) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Created] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](128) NOT NULL,
	[Modified] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.Language] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NotificationTemplate]    Script Date: 20.4.2016 12:32:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NotificationTemplate](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AuctioneerId] [int] NULL,
	[AuctionId] [int] NULL,
	[TemplateTypeId] [int] NULL,
	[DelivertyType] [int] NOT NULL,
	[Created] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](128) NOT NULL,
	[Modified] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.NotificationTemplate] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NotificationTemplateLocalized]    Script Date: 20.4.2016 12:32:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NotificationTemplateLocalized](
	[NotificationTemplateId] [int] NOT NULL,
	[LanguageId] [int] NOT NULL,
	[Subject] [nvarchar](200) NOT NULL,
	[Body] [nvarchar](max) NOT NULL,
	[Created] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](128) NOT NULL,
	[Modified] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.NotificationTemplateLocalized] PRIMARY KEY CLUSTERED 
(
	[NotificationTemplateId] ASC,
	[LanguageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NotificationTemplateType]    Script Date: 20.4.2016 12:32:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NotificationTemplateType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Created] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](128) NOT NULL,
	[Modified] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.NotificationTemplateType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PriceRange]    Script Date: 20.4.2016 12:32:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PriceRange](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AuctionId] [int] NOT NULL,
	[ValidFrom] [datetime] NOT NULL,
	[ValidTo] [datetime] NOT NULL,
	[Price] [money] NOT NULL,
	[Created] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](128) NOT NULL,
	[Modified] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.PriceRange] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[AspNetUsers] ([Id], [AuctioneerId], [FirstName], [LastName], [IsActive], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'e1ead599-700b-462c-a245-9fb0f3193936', NULL, N'Peter ', N'Smrek', 0, N'peter.smrek@post.sk', 0, N'ACiU+3RPKjK04Drmi/NIAXDTQ3Ohqvr6zYZ3HoOg0++p35CRefCq2TleLNpqLClxdg==', N'f790c79b-ffd3-4206-94b3-46ecaf78703a', NULL, 0, 0, NULL, 0, 0, N'psmrek')
INSERT [dbo].[AspNetUsers] ([Id], [AuctioneerId], [FirstName], [LastName], [IsActive], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'e5caa4fa-ac2f-489f-99e9-9d158cc3d364', NULL, NULL, NULL, 0, NULL, 0, N'ACiU+3RPKjK04Drmi/NIAXDTQ3Ohqvr6zYZ3HoOg0++p35CRefCq2TleLNpqLClxdg==', N'f790c79b-ffd3-4206-94b3-46ecaf78703a', NULL, 0, 0, NULL, 0, 0, N'system')
INSERT [dbo].[AspNetUsers] ([Id], [AuctioneerId], [FirstName], [LastName], [IsActive], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'f609a7ff-f949-40f0-9d7e-4b6dc717096d', NULL, N'Emil', N'Vesely', 0, N'emil.vesely@gmail.com', 0, N'ACiU+3RPKjK04Drmi/NIAXDTQ3Ohqvr6zYZ3HoOg0++p35CRefCq2TleLNpqLClxdg==', N'f790c79b-ffd3-4206-94b3-46ecaf78703a', NULL, 0, 0, NULL, 0, 0, N'evesely')
SET IDENTITY_INSERT [dbo].[Auction] ON 

SET IDENTITY_INSERT [dbo].[Auction] OFF
SET IDENTITY_INSERT [dbo].[Auctioneer] ON 

INSERT [dbo].[Auctioneer] ([Id], [Name], [Created], [CreatedBy], [Modified], [ModifiedBy]) VALUES (1, N'Organizátor 1', CAST(0x0000A5EE007C7C93 AS DateTime), N'00000000-0000-0000-0000-000000000000', CAST(0x0000A5EE007C7C93 AS DateTime), N'00000000-0000-0000-0000-000000000000')
SET IDENTITY_INSERT [dbo].[Auctioneer] OFF
INSERT [dbo].[AuctionLocalized] ([AuctionId], [LanguageId], [Name], [Description], [Created], [CreatedBy], [Modified], [ModifiedBy]) VALUES (1, 1, N'Aukcia 1', N'Popis aukcie', CAST(0x0000A5EE007C7CB4 AS DateTime), N'00000000-0000-0000-0000-000000000000', CAST(0x0000A5EE007C7CB4 AS DateTime), N'00000000-0000-0000-0000-000000000000')
INSERT [dbo].[AuctionLocalized] ([AuctionId], [LanguageId], [Name], [Description], [Created], [CreatedBy], [Modified], [ModifiedBy]) VALUES (2, 1, N'Aukcia 2', N'Popis aukcie', CAST(0x0000A5EE00878BFD AS DateTime), N'00000000-0000-0000-0000-000000000000', CAST(0x0000A5EE00878BFD AS DateTime), N'00000000-0000-0000-0000-000000000000')
SET IDENTITY_INSERT [dbo].[Bid] ON 

INSERT [dbo].[Bid] ([Id], [AuctionId], [UserId], [Amount], [TicketsCount], [AccessCode], [State], [Created], [CreatedBy], [Modified], [ModifiedBy]) VALUES (1, 1, N'e1ead599-700b-462c-a245-9fb0f3193936', 10.0000, 1, NULL, 2, CAST(0x0000A5EE007D12D3 AS DateTime), N'00000000-0000-0000-0000-000000000000', CAST(0x0000A5EE007D3E76 AS DateTime), N'00000000-0000-0000-0000-000000000000')
INSERT [dbo].[Bid] ([Id], [AuctionId], [UserId], [Amount], [TicketsCount], [AccessCode], [State], [Created], [CreatedBy], [Modified], [ModifiedBy]) VALUES (2, 1, N'e1ead599-700b-462c-a245-9fb0f3193936', 12.0000, 1, NULL, 2, CAST(0x0000A5EE007D3E75 AS DateTime), N'00000000-0000-0000-0000-000000000000', CAST(0x0000A5EE007D4B3E AS DateTime), N'00000000-0000-0000-0000-000000000000')
INSERT [dbo].[Bid] ([Id], [AuctionId], [UserId], [Amount], [TicketsCount], [AccessCode], [State], [Created], [CreatedBy], [Modified], [ModifiedBy]) VALUES (3, 1, N'e1ead599-700b-462c-a245-9fb0f3193936', 14.0000, 1, NULL, 2, CAST(0x0000A5EE007D4B3D AS DateTime), N'00000000-0000-0000-0000-000000000000', CAST(0x0000A5EE007D5463 AS DateTime), N'00000000-0000-0000-0000-000000000000')
SET IDENTITY_INSERT [dbo].[Bid] OFF
SET IDENTITY_INSERT [dbo].[BidRange] ON 

INSERT [dbo].[BidRange] ([Id], [AuctionId], [AmountFrom], [AmountTo], [Step], [Created], [CreatedBy], [Modified], [ModifiedBy]) VALUES (1, 1, 10.0000, 20.0000, 2.0000, CAST(0x0000A5EE007C7CB4 AS DateTime), N'00000000-0000-0000-0000-000000000000', CAST(0x0000A5EE007C7CB4 AS DateTime), N'00000000-0000-0000-0000-000000000000')
INSERT [dbo].[BidRange] ([Id], [AuctionId], [AmountFrom], [AmountTo], [Step], [Created], [CreatedBy], [Modified], [ModifiedBy]) VALUES (2, 1, 20.0000, 30.0000, 4.0000, CAST(0x0000A5EE007C7CB4 AS DateTime), N'00000000-0000-0000-0000-000000000000', CAST(0x0000A5EE007C7CB4 AS DateTime), N'00000000-0000-0000-0000-000000000000')
INSERT [dbo].[BidRange] ([Id], [AuctionId], [AmountFrom], [AmountTo], [Step], [Created], [CreatedBy], [Modified], [ModifiedBy]) VALUES (3, 1, 30.0000, 40.0000, 6.0000, CAST(0x0000A5EE007C7CB4 AS DateTime), N'00000000-0000-0000-0000-000000000000', CAST(0x0000A5EE007C7CB4 AS DateTime), N'00000000-0000-0000-0000-000000000000')
SET IDENTITY_INSERT [dbo].[BidRange] OFF
SET IDENTITY_INSERT [dbo].[DepositRange] ON 

INSERT [dbo].[DepositRange] ([Id], [AuctionId], [AmountFrom], [AmountTo], [Deposit], [Created], [CreatedBy], [Modified], [ModifiedBy]) VALUES (1, 1, 50.0000, 1000.0000, 50.0000, CAST(0x0000A5EE007C7CB4 AS DateTime), N'00000000-0000-0000-0000-000000000000', CAST(0x0000A5EE007C7CB4 AS DateTime), N'00000000-0000-0000-0000-000000000000')
INSERT [dbo].[DepositRange] ([Id], [AuctionId], [AmountFrom], [AmountTo], [Deposit], [Created], [CreatedBy], [Modified], [ModifiedBy]) VALUES (2, 2, 50.0000, 1000.0000, 50.0000, CAST(0x0000A5EE00878BFD AS DateTime), N'00000000-0000-0000-0000-000000000000', CAST(0x0000A5EE00878BFD AS DateTime), N'00000000-0000-0000-0000-000000000000')
SET IDENTITY_INSERT [dbo].[DepositRange] OFF
SET IDENTITY_INSERT [dbo].[Language] ON 

INSERT [dbo].[Language] ([Id], [Code], [Name], [Created], [CreatedBy], [Modified], [ModifiedBy]) VALUES (1, N'sk', N'Slovenský', CAST(0x0000A5EE007C7C93 AS DateTime), N'00000000-0000-0000-0000-000000000000', CAST(0x0000A5EE007C7C93 AS DateTime), N'00000000-0000-0000-0000-000000000000')
SET IDENTITY_INSERT [dbo].[Language] OFF
SET IDENTITY_INSERT [dbo].[NotificationTemplateType] ON 

INSERT [dbo].[NotificationTemplateType] ([Id], [Name], [Created], [CreatedBy], [Modified], [ModifiedBy]) VALUES (1, N'After auction over line', CAST(0x0000A5EE007C7C93 AS DateTime), N'00000000-0000-0000-0000-000000000000', CAST(0x0000A5EE007C7C93 AS DateTime), N'00000000-0000-0000-0000-000000000000')
INSERT [dbo].[NotificationTemplateType] ([Id], [Name], [Created], [CreatedBy], [Modified], [ModifiedBy]) VALUES (2, N'After auction below line', CAST(0x0000A5EE007C7C93 AS DateTime), N'00000000-0000-0000-0000-000000000000', CAST(0x0000A5EE007C7C93 AS DateTime), N'00000000-0000-0000-0000-000000000000')
SET IDENTITY_INSERT [dbo].[NotificationTemplateType] OFF
SET IDENTITY_INSERT [dbo].[PriceRange] ON 

INSERT [dbo].[PriceRange] ([Id], [AuctionId], [ValidFrom], [ValidTo], [Price], [Created], [CreatedBy], [Modified], [ModifiedBy]) VALUES (1, 1, CAST(0x0000A5EE00A4CB80 AS DateTime), CAST(0x0000A5EE00E6B680 AS DateTime), 10.0000, CAST(0x0000A5EE007C7CB4 AS DateTime), N'00000000-0000-0000-0000-000000000000', CAST(0x0000A5EE007C7CB4 AS DateTime), N'00000000-0000-0000-0000-000000000000')
INSERT [dbo].[PriceRange] ([Id], [AuctionId], [ValidFrom], [ValidTo], [Price], [Created], [CreatedBy], [Modified], [ModifiedBy]) VALUES (2, 2, CAST(0x0000A5EE00A4CB80 AS DateTime), CAST(0x0000A5EE00E6B680 AS DateTime), 10.0000, CAST(0x0000A5EE00878BFD AS DateTime), N'00000000-0000-0000-0000-000000000000', CAST(0x0000A5EE00878BFD AS DateTime), N'00000000-0000-0000-0000-000000000000')
SET IDENTITY_INSERT [dbo].[PriceRange] OFF
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUsers_dbo.Auctioneer_AuctioneerId] FOREIGN KEY([AuctioneerId])
REFERENCES [dbo].[Auctioneer] ([Id])
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_dbo.AspNetUsers_dbo.Auctioneer_AuctioneerId]
GO
ALTER TABLE [dbo].[Auction]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Auction_dbo.Auctioneer_AuctioneerId] FOREIGN KEY([AuctioneerId])
REFERENCES [dbo].[Auctioneer] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Auction] CHECK CONSTRAINT [FK_dbo.Auction_dbo.Auctioneer_AuctioneerId]
GO
ALTER TABLE [dbo].[AuctionLocalized]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AuctionLocalized_dbo.Auction_AuctionId] FOREIGN KEY([AuctionId])
REFERENCES [dbo].[Auction] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AuctionLocalized] CHECK CONSTRAINT [FK_dbo.AuctionLocalized_dbo.Auction_AuctionId]
GO
ALTER TABLE [dbo].[AuctionLocalized]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AuctionLocalized_dbo.Language_LanguageId] FOREIGN KEY([LanguageId])
REFERENCES [dbo].[Language] ([Id])
GO
ALTER TABLE [dbo].[AuctionLocalized] CHECK CONSTRAINT [FK_dbo.AuctionLocalized_dbo.Language_LanguageId]
GO
ALTER TABLE [dbo].[Bid]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Bid_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Bid] CHECK CONSTRAINT [FK_dbo.Bid_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Bid]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Bid_dbo.Auction_AuctionId] FOREIGN KEY([AuctionId])
REFERENCES [dbo].[Auction] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Bid] CHECK CONSTRAINT [FK_dbo.Bid_dbo.Auction_AuctionId]
GO
ALTER TABLE [dbo].[BidRange]  WITH CHECK ADD  CONSTRAINT [FK_dbo.BidRange_dbo.Auction_AuctionId] FOREIGN KEY([AuctionId])
REFERENCES [dbo].[Auction] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BidRange] CHECK CONSTRAINT [FK_dbo.BidRange_dbo.Auction_AuctionId]
GO
ALTER TABLE [dbo].[Deposit]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Deposit_dbo.Bid_BidId] FOREIGN KEY([BidId])
REFERENCES [dbo].[Bid] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Deposit] CHECK CONSTRAINT [FK_dbo.Deposit_dbo.Bid_BidId]
GO
ALTER TABLE [dbo].[DepositRange]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DepositRange_dbo.Auction_AuctionId] FOREIGN KEY([AuctionId])
REFERENCES [dbo].[Auction] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DepositRange] CHECK CONSTRAINT [FK_dbo.DepositRange_dbo.Auction_AuctionId]
GO
ALTER TABLE [dbo].[NotificationTemplate]  WITH CHECK ADD  CONSTRAINT [FK_dbo.NotificationTemplate_dbo.Auction_AuctionId] FOREIGN KEY([AuctionId])
REFERENCES [dbo].[Auction] ([Id])
GO
ALTER TABLE [dbo].[NotificationTemplate] CHECK CONSTRAINT [FK_dbo.NotificationTemplate_dbo.Auction_AuctionId]
GO
ALTER TABLE [dbo].[NotificationTemplate]  WITH CHECK ADD  CONSTRAINT [FK_dbo.NotificationTemplate_dbo.Auctioneer_AuctioneerId] FOREIGN KEY([AuctioneerId])
REFERENCES [dbo].[Auctioneer] ([Id])
GO
ALTER TABLE [dbo].[NotificationTemplate] CHECK CONSTRAINT [FK_dbo.NotificationTemplate_dbo.Auctioneer_AuctioneerId]
GO
ALTER TABLE [dbo].[NotificationTemplate]  WITH CHECK ADD  CONSTRAINT [FK_dbo.NotificationTemplate_dbo.NotificationTemplateType_TemplateTypeId] FOREIGN KEY([TemplateTypeId])
REFERENCES [dbo].[NotificationTemplateType] ([Id])
GO
ALTER TABLE [dbo].[NotificationTemplate] CHECK CONSTRAINT [FK_dbo.NotificationTemplate_dbo.NotificationTemplateType_TemplateTypeId]
GO
ALTER TABLE [dbo].[NotificationTemplateLocalized]  WITH CHECK ADD  CONSTRAINT [FK_dbo.NotificationTemplateLocalized_dbo.Language_LanguageId] FOREIGN KEY([LanguageId])
REFERENCES [dbo].[Language] ([Id])
GO
ALTER TABLE [dbo].[NotificationTemplateLocalized] CHECK CONSTRAINT [FK_dbo.NotificationTemplateLocalized_dbo.Language_LanguageId]
GO
ALTER TABLE [dbo].[NotificationTemplateLocalized]  WITH CHECK ADD  CONSTRAINT [FK_dbo.NotificationTemplateLocalized_dbo.NotificationTemplate_NotificationTemplateId] FOREIGN KEY([NotificationTemplateId])
REFERENCES [dbo].[NotificationTemplate] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NotificationTemplateLocalized] CHECK CONSTRAINT [FK_dbo.NotificationTemplateLocalized_dbo.NotificationTemplate_NotificationTemplateId]
GO
ALTER TABLE [dbo].[PriceRange]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PriceRange_dbo.Auction_AuctionId] FOREIGN KEY([AuctionId])
REFERENCES [dbo].[Auction] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PriceRange] CHECK CONSTRAINT [FK_dbo.PriceRange_dbo.Auction_AuctionId]
GO
