@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Auctions</h2>
        <table class="table">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Auction name</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td><a href="/Auction/Detail/1">Aukcia 1</a></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td><a href="/Auction/Detail/2">Aukcia 2</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>